<div  id="nav-bar">
  <div id="nav-bar-content">
    <div id="nav-bar-left">
      <div  style="font-size: 1.5em;" class="nav-bar-item" >JustGram</div>

    </div>
    <div id="nav-bar-right">
      <div *ngIf="!loggedIn()" (click)="onLoginClick()" style="font-size: 1.5em;" cl="nav-bar-item">
        Login
      </div>
      <div *ngIf="loggedIn() && userHasProfile" class="nav-bar-item" >
        Hello,<span>"{{getUsername()}}"</span>
    </div>
      <div *ngIf="loggedIn()" (click)="onLogOutClick()" class="nav-bar-item">
             <button class="nav-bar-item" style="font-size: 0.8em;" mat-flat-button>logout</button>
      </div>

    </div>

  </div>

</div>
<router-outlet></router-outlet>
<app-profile [show]="loggedIn() && !userHasProfile"></app-profile>
